<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista</title>
	<link rel="stylesheet" type="text/css" href="estilos.css">
</head>
	<body>
		<h1>Lista de coches</h1>
	<a th:href="@{/coche/nuevo"	
		<table border="1">
			<thead>
				<tr>
					<th>Marca</th>
					<th>Matrícula</th>
					<th>Color</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="coche : ${coches}">
					<td th:text="${coche.Marca}"></td>
					<td th:text="${coche.Matricula}"></td>
					<td th:text="${coche.Color}"></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>